*{
	margin: 0;
	padding: 0;
}
body{
	min-width: 1200px;
	padding-left: 0;
	padding-right: 0px;

}
#l-main-nav-box{
	width: 100%;
	background: #090810;
}
.l-main-nav{
	height: 60px;
	position:relative;
	width: 1200px;
	margin:0px auto;
}
.nav-logo{
	position: absolute;
	left: 0px;
	top:16px;
}
.nav-relo{
	position:absolute;
	right: 66px;
	top:18px;
}
.nav-relo>a{
	color:white;
	font-size: 18px;
	margin-left: 15px;
	text-decoration: none;
}
.nav-relo>a:hover{
	color:white;
	text-decoration: none;
}
.nav-login::after{
	content: '';
	width: 1px;
	height: 16px;
	background:white;
	position:absolute;
	right: 46px;
	top:4px;
}
.l-main{
	width: 1200px;
	margin:0px auto;
	overflow:hidden;
}

/* main头部选择栏 */


.l-main-chose{
	width: 100%;
	height: 58px;
    border-bottom: 2px solid #e7e8e9;
	
}
.l-chose-left{
	width: 787px;
	height: 100%;
	overflow:hidden;

	float:left;
}
.l-chose-left-uls{
	list-style: none;
	// overflow: hidden;
	margin:18px auto;
	position:absolute;
}
.l-chose-left-uls>li{
	width: 66px;
	color:#595959;
	float: left;
	font-size:16.2px;
	text-align: center;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	padding-bottom: 19px;
	position:relative:
}
.l-li-fat~li{
	padding-left:10px;
	padding-right:10px;
}
 .l-chose-left-uls>li:hover{
	color:red;
	border-bottom:2px solid red;
} 
.l-chose-left-uls>li:hover>div{
	display:block;
} 
.l-chose-left-uls>.l-clicked{
	color:red;
	border-bottom:2px solid red;
}
.l-chose-right{
	color:#595959;
	float:right;
	width: 413px;
	height: 100%;
	border-bottom: 2px solid #777777;
	pointer:relative;
}
.l-chose-rignt-le{
	height: 60px;
    line-height: 60px;
	width: 86px;
	position:relative;
	float:left;
}
.l-chose-rignt-le::before{
	content: '';
    width: 1px;
    height: 24px;
    background: #e7e8e9;
    position: absolute;
    top: 20px;
    left:0px;
}.l-chose-rignt-le::after{
	content: '';
    width: 1px;
    height: 24px;
    background: #e7e8e9;
    position: absolute;
    top: 20px;
    right:-4px;
}
.l-selects{
	padding-left:11px;
	float:left;
}
.icon-xiala-{
	position:absolute;
	right:2px;
	top:3px;
}
.icon-caozuo-shangla{
	position:absolute;
	right:2px;
	top:10px;
	display: none;
}
.l-selects-more{
	width: 86px;
	height: 280px;
	background:white;
	position:absolute;
	top:41px;
	left: -1px;
	border-left: 1px solid #e7e8e9;
	border-right: 1px solid #e7e8e9;
	border-bottom: 1px solid #e7e8e9;
	display:none;
	z-index:1;
}

.l-selects-more-ul{
	list-style:none;	
}
.l-selects-more-ul>li{
	width: 86px;
	height: 44px;
	line-height: 44px;
	padding-left:11px;
	box-sizing: border-box;
	cursor:pointer;
	
}
.l-selects-more-ul>li:hover{
	color:white;
	background:black;
}
.l-chose-rignt-ri{
	float:right;
	margin-top: 20px;	
	// background:red;
	width: 320px;
	height: 24px;
	border-right: 1px solid #e7e8e9;
	position:relative;
}
.l-chose-input{
	padding-left:20px;
	border: none;
	outline: none;
	width: 250px;

}
.l-chose-search{
	width: 23px;
	height: 23px;
	position:absolute;
	background: url('../imgs/spirit.png') no-repeat;
	background-position: -31px 0px;
	right:7px;
	top:1px;
	cursor:pointer;
}
.l-clicked-hind{
	width: 1200px;
	height: 60px;
	background: white;
	position:absolute;
	bottom:-60px;
	left:0px;
	display:none;
	z-index: 1;
}
.l-clicked-hind-ul{
	list-style:none;
	color:black;

}
.l-clicked-hind-ul>li{
	float:left;
	margin-left:20px;
	margin-right: 25px;
	line-height:60px;
}
.l-clicked-hind-ul>li:hover{
	color:red;
	border-bottom:2px solid red;
}